<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        .wrap-flex {
            display: flex;
            align-items: stretch;
        }
        .wrap-flex > * {
            padding: 10px; margin: 0;
        }
    </style>
</head>
<body>
<div class="wrap-flex" th:each="user : ${users}">
    <p th:text="${user}"></p>
    <a th:href="@{/admin/users/{id}/patch(id=${user.getId()})}">Edit</a>
    <form th:method="DELETE" th:action="@{/admin/users/{id}(id=${user.getId()})}">
        <input type="submit" value="Delete">
    </form>
</div>
<hr/>
<a th:href="@{/admin/users/new}">New user</a>
<hr/>
<a th:href="@{/admin}">Main page</a>
<hr/>
<a th:href="@{/logout}">Logout</a>

</body>
</html>