<!DOCTYPE html>
<html lang="en">
<head>
    <link th:replace="bootstrap :: css">
    <meta th:replace="bootstrap :: meta">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body class="p-3 m-0 border-0 bd-example m-0 border-0">
<header><div th:replace="layouts/navbar :: navbar"></div></header>
<main>

    <div class="banner">
        <div class="">
            <div class="">
                <div th:replace="layouts/leftbar"></div>
                </div>
            </div>
        </div>
    </div>
</main>

    <script th:replace="bootstrap :: js"></script>
</body>
</html>